.label {
    display: inline-flex;
    padding: 4px 14px;
    align-items: center;
    gap: 8px;

    border-radius: 28px;
    background: #FEE2E2;

    color: #B91C1C;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}